<div class="container">
  <div class="home_hero" />
  <div class="text_container">
    <h1 class="home_title">Welcome To My Library</h1>
    <p class="home_description">
      This website is about my reading journey! So far this year, I have
      increased my reading engagement by using a digital tool called an
      <strong>E-Reader</strong>. It's similar to a tablet but it doesn't use
      blue light and you can only read on it, nothing else. By transitioning to
      an e-reader, I am documenting my reading journey through different genres
      such as crime, mystery and to the imaginative world-building of science
      fiction and fantasy. I'm also using apps such as
      <strong>Fable</strong> where you can log how much you've read and review
      books. It's like facebook but for book nerds. This project shows my
      favourite books and what I want to read this year.
    </p>
  </div>
</div>
