<header class="header">
  <nav class="navbar">
    <a class="book_list" href="/">Home</a>
    <a class="book_list" href="/favourites">Favourites</a>
    <a class="book_list" href="/to-be-read">To Be Read</a>
  </nav>
</header>
